	<footer class="container-fluid bg-light">
			<div class="row">

				<section class="col">
				colonne 1
				</section>

				<section class="col">
				colonne 2
				</section>
				
				<section class="col">
				colonne 3
				</section>

				<section class="col">
				colonne 4
				</section>

			</div>
		</footer>